# KiCad backup and autosave files
*~ 
*.bak
*.kicad_prl
*.kicad_sch-bak
*-backups/

# KiCad cache and info files
fp-info-cache
sym-lib-table-bak
*.net

# Ignore Gerbers folder, but keep Gerbers.zip
Gerbers/
!Gerbers.zip

# KiCad-generated fabrication files outside Gerbers zip
*.gbr
*.drl
*.pos

# Temporary editor/project files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db
*.lck
